@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
}

@layer base {
  h1 {
    @apply text-h2 sm:text-h1;
  }
  h2 {
    @apply text-h3 md:text-h2;
  }
  h3 {
    @apply md:text-h3;

    @media screen and (max-width: 769.99px) {
      font-size: 24px;
      line-height: 120%;
      font-weight: 600;
    }
  }
  h5 {
    @apply md:text-h5;

    @media screen and (max-width: 769.99px) {
      font-size: 16px;
      line-height: 120%;
      font-weight: 600;
    }
  }
  p,
  button {
    @apply md:text-p;
  }
  section {
    @apply mb-20;
  }
}
